name: quality-gates.yml
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Set up poetry
        run: bash scripts/poetry-setup.sh

      - name: Run isort
        run: isort --check-only --diff .

      - name: Run black formatter
        run: black --check --diff .

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: bash scripts/poetry-setup.sh

      - name: Run tests with coverage
        run: |
          pytest -m unit --cov=src/griddy --cov-report=term --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v4
        if: always()
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
