name: quality-gates.yml
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install dependencies
        run: uv sync --group dev
      - name: Run formatters
        run: uv run isort --check-only --diff "." && uv run black --check --diff .

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run Tests
        run: uv run pytest -m unit --cov=src/griddy --cov-report=term --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v4
        if: always()
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
